<h3>Connect</h3>
<h5><a href="http://linkedin.com/in/aghyad" target="_blank">LinkedIn</a></h5>
<h5><a href="http://github.com/aghyad" target="_blank">Github</a></h5>
<h5><a href="http://twitter.com/aghyadsaleh" target="_blank">@AghyadSaleh</a></h5>
<h5><a href="mailto:contact@aghyadsaleh.com">contact@aghyadsaleh.com</a></h5>

<br>
<br>

<a href="mailto:contact@aghyadsaleh.com" title="Pair program with me!">
	<img  src="http://pairprogramwith.me/badge.png" alt="Pair program with me!" />
</a>