<% content_for :primary do %>
	<div align=center>
		<br>
		<h2>Welcome to Aghyad Saleh personal pages and professional blog.</h2>
		<img src="ruby_image.jpeg" width="150" class="img-polaroid"></img>
		<h3>Site is under construction now ... We will be available soon.</h3>
	</div>
<% end %>


<% content_for :secondary do %>
	<h2>About</h2>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	
	<br><br>
	<h5><a href="http://linkedin.com/in/aghyad" target="_blank">LinkedIn Profile</a></h5>
	<h5><a href="http://github.com/aghyad" target="_blank">Github Account</a></h5>
	<h5>Twitter: <a href="http://twitter.com/aghyadsaleh" target="_blank">@AghyadSaleh</a></h5>
	<br>
	<h5>You can also contact me at: <a href="mailto:contact@aghyadsaleh.com">contact@aghyadsaleh.com</a></h5>
<% end %>