<% content_for :global_alert do %>
	<%= "this Site is currently under construction ... We will be fully available soon".upcase %>
<% end %>


<% content_for :primary do %>
	<div align=center>
		<br>
		<!-- <img src="ruby_image.jpeg" width="150" class="img-polaroid"></img> -->
		<img src="my_business_card.png" class="img-polaroid"></img>
	</div>
<% end %>


<% content_for :secondary do %>
	<h3>Connect</h3>
	<h5><a href="http://linkedin.com/in/aghyad" target="_blank">LinkedIn</a></h5>
	<h5><a href="http://github.com/aghyad" target="_blank">Github</a></h5>
	<h5><a href="http://twitter.com/aghyadsaleh" target="_blank">@AghyadSaleh</a></h5>
	<h5><a href="mailto:contact@aghyadsaleh.com">contact@aghyadsaleh.com</a></h5>
<% end %>