<div id="page">
  <div id="sidebar">
	<br><br><br><br>
    <ul id="sidebar-items">
      <li>
        <h3>My LinkedIn Profile:</h3>
        <ul class="links">
          <li><a href="http://linkedin.com/in/aghyad" target="_blank">LinkedIn Account</a></li>
        </ul>
      </li>
    </ul>

	<ul id="sidebar-items">
      <li>
		<br>
        <h3>My Github Account:</h3>
        <ul class="links">
          <li><a href="http://github.com/aghyad" target="_blank">Github Account</a></li>
        </ul>
      </li>
    </ul>
	
	<ul id="sidebar-items">
      <li>
		<br>
        <h3>My Twitter Handle:</h3>
        <ul class="links">
          <li><a href="http://twitter.com/aghyadsaleh" target="_blank">@AghyadSaleh</a></li>
        </ul>
      </li>
    </ul>
	
	<ul id="sidebar-items">
      <li>
		<br><br><br>
        <b>You can also contact me:</b>
		<a href="mailto:aghyad@aghyadsaleh.com">aghyad@aghyadsaleh.com</a>
      </li>
    </ul>
	
  </div>
	<br><br><br><br><br>
  <div align=center id="content">
	<br>
	<h2>
		<!-- Welcome to Aghyad Saleh personal pages and professional <b><a href="http://blog.aghyadsaleh.com">blog</a></b>. -->
		Welcome to Aghyad Saleh personal pages and professional blog.
	</h2>
	<br><img src="ruby_image.jpeg" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;<br><br>
	<h3>
		Site is under construction now ... We will be available soon.
	</h3>
	<br><br>
  </div>

  <div id="footer">&nbsp;</div>
</div>