<a class="brand" href="/">
	<!-- <span style="font-size:25px;">A</span><span style="font-size:19px;">GHYAD</span><span style="font-size:25px;">S</span><span style="font-size:19px;">ALEH</span><span style="font-size:10px;"> <b>o</b> </span><span style="font-size:18px;">COM</span> -->
	
	<!-- <span style="font-size:25px;">A</span><span style="font-size:19px;">GHYAD</span><span style="font-size:25px;">S</span><span style="font-size:19px;">ALEH</span><span style="font-size:10px;">D<b>O</b>T</span><span style="font-size:18px;">COM</span> -->
	
	<span style="font-size:25px;">A</span><span style="font-size:19px;">GHYAD</span><span style="font-size:25px;">S</span><span style="font-size:19px;">ALEH</span><span style="font-size:10px;"> <b>o</b> </span><span style="font-size:18px;">COM</span>
</a>